/* Global */

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Times New Roman', Times, serif;
  background-color: #fff;
  color: #333;
  line-height: 1.6;
}

img {
  width: 100%;
}

ul {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

h1,
h3 {
  font-weight: 300;
  line-height: 1.2;
}

p {
  margin: 10px 0;
}

span {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 4px;
}

/* Navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  height: 60px;
  width: 100%;
  box-shadow: 2px 1px 5px 2px rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
}

.navbar ul {
  display: flex;
}

.navbar a {
  padding: 10px 20px;
  margin: 0 5px;
  font-size: 0.9rem;
  font-weight: 500;
  letter-spacing: 2px;
}

.navbar a:hover {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 10px 20px;
}

.navbar h3 {
  letter-spacing: 2px;
}

/* Content */

.hero .content {
  background: url('../img/hamburger.jpg') no-repeat center center/cover;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  top: 60px;
  left: 0;
}

.hero .content h1 {
  margin: 25px 30px;
  font-family: 'Playfair Display', sans-serif;
  letter-spacing: 2px;
}

/* About */

.flex-columns {
  background-color: #fff;
  padding: 1.8rem;
  margin-top: 100px;
}

.flex-columns .row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.flex-columns .column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  margin: 0 40px;
}

.flex-columns .column .column-1,
.flex-columns .column .column-2 {
  height: 100%;
}

.flex-columns .column img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.flex-columns .column .column-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 2rem;
}

.flex-columns .column .column-2 h2 {
  font-size: 40px;
  font-weight: 100;
  margin-bottom: 2rem;
  text-align: center;
}

.flex-columns .column .column-2 h4 {
  font-size: 1.2rem;
  font-weight: 100;
  letter-spacing: 2px;
}

.flex-columns .column .column-2 p {
  font-size: 1.1rem;
  line-height: 1.6;
}

.pale-text {
  color: #666;
}

.border {
  width: 90%;
  height: 5px;
  margin: 30px 20px;
  text-align: center;
  border-bottom: 1px solid #3d38382d;
}

.flex-columns.flex-reverse .row {
  flex-direction: row-reverse;
}

.menu-item {
  margin-bottom: 40px;
}

/* Contact */

.contact {
  padding: 20px;
  margin: 10px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.contact h2 {
  font-size: 40px;
  font-weight: 100;
  margin-bottom: 40px;
}
